<h1>Families</h1>

<% @families.each do |family| %>
  <h4><a href="/families/<%=family.id%>"><%=family.name%></a></h4>
<% end %>

<%= button_to "Add Family", new_family_path, method: :get %> <br>
<%= button_to "Add Relationship", new_relationship_path, method: :get %> <br>
