<h1><%=@family.name%></h1>

<% @family.users.living.each do |member| %>
  <h4><%= link_to member.name, user_path(member) %></h4>
<% end %>

<% if current_user.families.include?(@family) %>
    <%= button_to "Edit Family", edit_family_path(@family), method: :get %>
<% end %>