<h1><%=@family.name%></h1>

<% @family.users.each do |member| %>
  <h4><%= link_to member.name, user_path(member) %></h4>
<% end %>


<% if @family == current_user.family %>
    <%= button_to "Edit Family", edit_family_path(@family), method: :get %>
    <%= button_to "Add Relationship", new_relationship_path, method: :get %>

<% end %>